[submodule "snippets/yasnippet"]
	path = snippets/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "themes/zenburn"]
	path = themes/zenburn
	url = https://github.com/bbatsov/zenburn-emacs
[submodule "major-modes/php-mode"]
	path = major-modes/php-mode
	url = https://github.com/emacs-php/php-mode
